[Desktop Entry]
ServiceTypes=KonqPopupMenu/Plugin
Actions=CreatePDF;
Type=Service
MimeType=image/jpeg;image/png;image/bmp;image/webp;image/tiff;
X-KDE-Priority=TopLevel

[Desktop Action CreatePDF]
Name=Create PDF
Name[bg]=Създай PDF
Name[cs]=Vytvořit PDF
Name[da]=Opret PDF
Name[de]=PDF erstellen
Name[el]=Δημιουργία PDF
Name[es]=Crear PDF
Name[et]=Loo PDF
Name[fi]=Luo PDF
Name[fr]=Créer un PDF
Name[he]=צור PDF
Name[hr]=Stvori PDF
Name[hu]=PDF létrehozása
Name[is]=Búa til PDF
Name[it]=Crea PDF
Name[ja]=PDF を作成
Name[ko]=PDF 만들기
Name[nl]=PDF maken
Name[no]=Lag PDF
Name[pl]=Utwórz PDF
Name[pt]=Criar PDF
Name[pt_BR]=Criar PDF
Name[ro]=Creează PDF
Name[ru]=Создать PDF
Name[sk]=Vytvoriť PDF
Name[sv]=Skapa PDF
Name[tr]=PDF oluştur
Name[uk]=Створити PDF
Name[zh]=创建 PDF
Icon=bigocrpdf
Exec=bigocrpdf --edit %F
