[Desktop Entry]
ServiceTypes=KonqPopupMenu/Plugin
Actions=EditPDF;
Type=Service
MimeType=application/pdf;
X-KDE-Priority=TopLevel

[Desktop Action EditPDF]
Name=Edit pages
Name[bg]=Редактиране на страници
Name[cs]=Upravit stránky
Name[da]=Rediger sider
Name[de]=Seiten bearbeiten
Name[el]=Επεξεργασία σελίδων
Name[es]=Editar páginas
Name[et]=Muuda lehekülgi
Name[fi]=Muokkaa sivuja
Name[fr]=Modifier les pages
Name[he]=עריכת דפים
Name[hr]=Uredi stranice
Name[hu]=Oldalak szerkesztése
Name[is]=Breyta síðum
Name[it]=Modifica pagine
Name[ja]=ページを編集
Name[ko]=페이지 편집
Name[nl]=Pagina's bewerken
Name[no]=Rediger sider
Name[pl]=Edytuj strony
Name[pt]=Editar páginas
Name[pt_BR]=Editar páginas
Name[ro]=Editează paginile
Name[ru]=Редактировать страницы
Name[sk]=Upraviť stránky
Name[sv]=Redigera sidor
Name[tr]=Sayfaları düzenle
Name[uk]=Редагувати сторінки
Name[zh]=编辑页面
Icon=bigocrpdf
Exec=bigocrpdf --edit %F
